.vs
x64
*.tlog
*.idb
*.pdb
*.sbr
*.filters
*.user
*.opensdf
*.sdf
*.suo
*.sdf
*.obj
*.log
*.bak
Debug/*
Release/*
Normal/*
ipch/*
libdn/Debug/*
libdn/Release/*
example/Debug/*
example/Release/*
/libconnect.VC.db
/libconnect.VC.VC.opendb
